
@keyframes wave {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes neon {
    0% {
      filter: hue-rotate(0deg);
      transform: scale(1);
    }
    100% {
      filter: hue-rotate(360deg);
      transform: scale(1.02);
    }
  }



  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }