.blue_shadow {
    text-shadow: 0px 0px 30px rgb(0, 191, 255);
  }

  .blue_normal {
    text-shadow: 0px 0px 30px rgb(0, 140, 255);
  }

  .image-hero-blog {
    filter: drop-shadow(0px 0px 200px rgb(0, 255, 225));
      
  }
